<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8">
        <title>Automobile Repair Shop</title>
    </head>
<body>
    <header>
        <h1>Welcome!</h1>
    </header>
    <nav>
        <a href="/reparacoes">Reparações</a>
        <a href="/intervencoes">Intervenções</a>
        <a href="/viaturas">Viaturas</a>
    </nav>
    <main>
        <p>Oferecemos uma variedade de serviços para manter o seu veículo em perfeitas condições. Explore as nossas opções acima para saber mais.</p>
    </main>
</body>
</html>