<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8">
        <title>Escola de Música</title>
        <link rel="stylesheet" type="text/css" href="w3.css"/>
    </head>
<body>
    <div class="w3-card-4">
        <header class="w3-container w3-purple">
            <h1>Welcome!</h1>
        </header>
    </div>
    <div class="w3-container">
        <ul class="w3-ul">
            <li>
                <a href="/alunos">Alunos</a>
            </li>
            <li>
                <a href="/cursos">Cursos</a>
            </li>
            <li>
                <a href="/instrumentos">Instrumentos</a>
            </li>
        </ul>
    </div>
    <footer class="w3-container w3-purple">
        <h5>Generated in EngWeb2025</h5>
    </footer>
</body>
</html>