extends layout

block content
    .w3-card-4 
        header.w3-container.w3-black 
            h1= title
        .w3-container
            table.w3-table-all
                tr.w3-large
                    th Movies: 
                tr 
                    td
                        ul.w3-ul 
                            each movie in filme
                                a( href=`/movie/${ movie }` )
                                    li=movie 
                    tr
                        td(colspan='4')
                            a(href="/movies").w3-button.w3-black.w3-btn.w3-round-xxlarge(style='margin-top: 10px').w3-left Back
