header.w3-bar.w3-black
    button.w3-bar-item.w3-button(onclick="w3_open()") 
        | ☰ 

script.
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }